/* =========================
   ESTILO GENERAL
   ========================= */

body {
  font-family: 'Poppins', Arial, sans-serif;
  color: #1e3a8a;
  background-color: #f5f9ff;
}

/* =========================
   NAVBAR
   ========================= */

.navbar {
  background: linear-gradient(90deg, #1E3A8A, #0EA5E9, #10B981);
}

.navbar-brand {
  color: white !important;
  font-weight: 600;
}

.nav-link {
  color: white !important;
  font-weight: 500;
}

.nav-link:hover {
  color: #A7F3D0 !important;
}

/* =========================
   TITULOS
   ========================= */

h1 {
  text-align: center;
  color: #166534;
}

h2 {
  color: #0d6efd;
  border-bottom: 2px solid #93c5fd;
  padding-bottom: 5px;
  font-size: 24px;
  font-weight: 600;
}

h3 {
  color: #198754;
  font-size: 18px;
  font-weight: 600;
}

h1, h2, h3, h5 {
  color: #1e326b;
  font-weight: 600;
}

/* =========================
   TARJETAS
   ========================= */

.card {
  background-color: #ffffff;
  border-left: 5px solid #0d6efd;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* =========================
   CODIGO
   ========================= */

pre {
  background: #ebecf0;
  color: #000000;
  padding: 15px;
  border-radius: 8px;
  overflow-x: auto;
}

/* =========================
   LISTAS Y TEXTO
   ========================= */

ul {
  margin-left: 20px;
}

li {
  margin-bottom: 5px;
}

p {
  line-height: 1.6;
}

/* =========================
   FORMULARIOS
   ========================= */

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #cbd5f5;
}

/* =========================
   FOOTER
   ========================= */

footer {
  text-align: center;
  padding: 15px;
  background: #1E3A8A;
  color: white;
  margin-top: 30px;
  border-radius: 6px;
}

/* =========================
   IMAGENES
   ========================= */

img {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/* =========================
   BUSCADOR RESPONSIVE
   ========================= */

#buscador {
  width: 250px;
  transition: width 0.3s ease;
}

@media (max-width: 1200px) {
  #buscador { width: 200px; }
}

@media (max-width: 992px) {
  #buscador { width: 150px; }
}

@media (max-width: 768px) {
  #buscador { width: 100px; }
}

/* =========================
   RESALTADO BUSCADOR
   ========================= */

mark {
  background-color: #fcfc62;
  color: #000;
  border-radius: 3px;
  padding: 0 2px;
}