/* =========================
   ESTILO GENERAL
   ========================= */

body {
  font-family: 'Poppins', Arial, sans-serif; 
  color: #1e3a8a; 
  background-color: #e8f5e9; /* verde suave */
}

/* =========================
   TITULOS
   ========================= */

h1 {
  text-align: center;
  color: #166534; 
}

h2 {
  color: #0d6efd; 
  border-bottom: 2px solid #93c5fd;
  padding-bottom: 5px;
  font-size: 24px;
  font-weight: 600;
}

h3 {
  color: #198754; 
  font-size: 18px;
  font-weight: 600;
}

/* =========================
   CONTENEDORES
   ========================= */

div {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow:4px 10px rgba(37, 0, 247, 0.1);
}

/* Tarjetas bootstrap */
.card, .seccion, .container div{
  background-color:#ffffff;
  border-left:5px solid #fdfeff; /* azul */
  border-radius:10px;
  box-shadow:0 4px 10px rgba(0,0,0,0.08);
}
.card:hover {
  transform: translateY(-4px);
}

/* =========================
   CODIGO
   ========================= */

pre {
  background:#ebecf0; 
  color:#000000;
  padding:15px;
  border-radius:8px;
  overflow-x:auto;
}

/* =========================
   LISTAS Y TEXTO
   ========================= */

ul {
  margin-left: 20px;
}

li {
  margin-bottom: 5px;
}

p {
  line-height: 1.6;
}

/* =========================
   NAVEGACION
   ========================= */

nav {
  text-align: center;
  margin-bottom: 30px;
}

nav a {
  text-decoration: none;
  background: #2563eb; 
  color: white;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 6px;
  display: inline-block;
  transition: 0.3s;
}

nav a:hover,
nav a.active {
  background: #16a34a; 
}

/* =========================
   FORMULARIOS
   ========================= */

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #cbd5f5;
}

/* =========================
   BOTONES
   ========================= */

button {
  background: #2563eb; 
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #16a34a; 
}

/* =========================
   FOOTER
   ========================= */

footer {
  text-align: center;
  padding: 15px;
  background: #1E3A8A; 
  color: white;
  margin-top: 30px;
  border-radius: 6px;
}

/* =========================
   IMAGENES
   ========================= */

img{
  border-radius:10px;
  box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

@media (max-width: 576px) {
  .search-wrap { display: none !important; }
}

mark {
  background-color: #fcfc62;
  color: #000;
  border-radius: 3px;
  padding: 0 2px;
}